{% extends 'layouts/base.html' %}

{% block content %}

    <div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
            <div class="text-center">
                <h1 class="text-white">Bienvenue sur la plateforme de demande de casier judiciaire et d'acte de naissance</h1>
                <h3 class="text-white">Qui vous permettra de faire votre prospection pour l'obtention de votre casier et d'acte de naissance</h3>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
        <div class="container">
        <div class="section text-center">
            <h2 class="title">Connexion</h2>
        </div>
        </div>
    </div>

    

    <section class="my-5">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} mb-3" {% endif %}>
                        <span  class="text-white d-flex justify-content-center">{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-12 col-lg-6">
                <form action="{% url 'AuthGateway:connexion' %}"  method="post">
                    {% csrf_token %}
                    <div class="input-group input-group-static mb-4">
                        <label>Adresse email</label>
                        <input type="email" class="form-control" placeholder="Exemple : john@doe.com" name="pseudo" required>
                    </div>

                    <div class="input-group input-group-static mb-4">
                        <label>Mot de passe</label>
                        <input type="password" class="form-control" name="mdp" placeholder="**********" required>
                      </div>
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                  </form>
          </div>
        </div>
    </section>

{% endblock %}