{% extends 'layouts/base.html' %}

{% block content %}

    <div class="page-header min-vh-80" style="background-image: url('https://images.unsplash.com/photo-1630752708689-02c8636b9141?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2490&q=80')">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
            <div class="text-center">
                <h1 class="text-white">Bienvenue sur la plateforme de demande de casier judiciaire</h1>
                <h3 class="text-white">Qui vous permettra de faire votre prospection pour l'obtention de votre casier</h3>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
        <div class="container">
        <div class="section text-center">
            <h2 class="title">Le processus s'effectue en 2 temps</h2>
        </div>
        </div>
    </div>

    <section class="my-5">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-12 my-auto">
              <h3>Comment faire sa <span class="text-gradient text-primary mb-0">demande</span> ?</h3>
              <p class="pe-md-5 mb-4">Si vous n'avez pas déjà fait de demande cliquez sur le bouton <strong>commencer la démarche</strong>,
                vous serez rédirigé vers une autre page là où vous devez saisir correctement vos informations
                personnelles. Une fois cela fait un code de suivi vous sera automatiquement généré!
            </p>
            <p class="pe-md-5 mb-4"><strong>Vous devez notez ce code la quelque part afin de faire la suivie de votre demande.</strong></p>
              <div class="github-buttons">
                <a href="https://www.creative-tim.com/product/material-kit-pro?ref=index-mk2" class="btn bg-gradient-primary mb-5 mb-sm-0">Commencer la démarche >></a>
                <div class="github-button">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-12 my-auto">
              <a href="https://www.creative-tim.com/product/material-kit-pro?ref=index-mk2">
                <img class="w-100 border-radius-lg shadow-lg" src="https://s3.amazonaws.com/creativetim_bucket/products/46/original/material-kit-pro.jpg?1632843641" alt="Product Image">
              </a>
            </div>
          </div>
        </div>
      </section>

      <section class="my-5">
        <div class="container">
          <div class="row">
            <div class="col-md-7 col-12 my-auto">
              <h3>Comment <span class="text-gradient text-primary mb-0">suivre</span> sa demande ?</h3>
              <p class="pe-md-5 mb-4">Après avoir fait votre demande vous pourrez connaître l'état d'avancement de votre demande
                en cliquant sur le bouton <strong>suivre la demande</strong>, ensuite vous serez redirigez
                vers une page là on va vous demandez le code de suivi qui a été généré lors de la demande.
            </p>
           <div class="github-buttons">
                <a href="https://www.creative-tim.com/product/material-kit-pro?ref=index-mk2" class="btn bg-gradient-primary mb-5 mb-sm-0"> Suivre la demande >></a>
                <div class="github-button">
                  <span></span>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-12 my-auto">
              <a href="https://www.creative-tim.com/product/material-kit-pro?ref=index-mk2">
                <img class="w-100 border-radius-lg shadow-lg" src="https://s3.amazonaws.com/creativetim_bucket/products/46/original/material-kit-pro.jpg?1632843641" alt="Product Image">
              </a>
            </div>
          </div>
        </div>
      </section>

      
{% endblock %}