{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

    <div class="page-header min-vh-80" style="background-image: url({% static 'assets/img/justice-Gabon.jpg' %})">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
            <div class="text-center">
                <h1 class="text-white">Bienvenue sur la plateforme de demande de casier judiciaire et d'acte de naissance</h1>
                <h3 class="text-white">Qui vous permettra de faire votre prospection pour l'obtention de votre casier et d'acte de naissance</h3>
            </div>
            </div>
        </div>
        </div>
    </div>
    <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
        <div class="container">
        <div class="section text-center">
            <h2 class="title">Suivi du casier judiciaire</h2>
        </div>
        </div>
    </div>

    

    <section class="my-5">
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }} mb-3" {% endif %}>
                        <span  class="text-white d-flex justify-content-center">{{ message }}</span>
                    </div>
                {% endfor %}
            {% endif %}
          <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-12 col-lg-6">
                <form action="."  method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <div class="input-group input-group-static mb-4">
                                <label for="numero_suivi">Numero de suivi</label>
                                <input type="number" min="0" max="99999999" class="form-control" placeholder="Exemple : 1234564261" name="numeroSuiviCasier" id="numero_suivi" required>  
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Soumettre</button>
                </form>
          </div>
        </div>
    </section>

{% endblock %}